*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
  }
  nav{
    
    background-image: linear-gradient(15deg, #474b4d 0%, #dadcdc 100%);
    height: 75px;
    width: 100%;
  }
  label.logo{
    color: #e3e3e3;
    font-family: 'Rubik Glitch', cursive;
    font-size: 34px;
    line-height: 80px;
    padding: 0 100px;
    float:left;
    
    
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #cccccc;
    transition: .5s;
  }
  
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 19x;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
      
    }
    nav ul li a{
      font-size: 100px;
    }
    a:hover,a.active{
      background: none;
      color: #bbbbbb;
    }
  }
  
  body{
    background-image: url("smooth_road.jpg");
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: cover;
  }
  div.logo_1{
    height:75px;
  }