*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#bob{
  position: relative;
  right: 450px;
}
body {
  background-image: url("img1.webp");
  background-repeat: no-repeat;  
  background-attachment: fixed;
  background-size: cover;
}
.container{
  text-align: center;
  position: relative;
  top: 200px;
  left: 450px;
  width: 700px;
}
.btn{
  border: 1px solid #fff;
  padding: 10px 10px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  background: none;
}
.btn1{
  color: #fff;
}
.btn1:hover{
  color: #fff;
  background-color: #708090;
}
nav{
  height: 75px;
  width: 100%;
  background-color: antiquewhite;
  }
label.logo{
  color: #2c3e50;
  background-color: antiquewhite;
  font-family: 'Rubik Glitch', cursive;
  font-size: 34px;
  line-height: 80px;
  padding: 0 100px;
  float:left;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #cccccc;
  transition: .5s;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 19x;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    float: left;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
  }
  nav ul li a{
    font-size: 100px;
  }
  a:hover,a.active{
    background: none;
    color: #bbbbbb;
  }
}