<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Features</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='features.css') }}"
</head>
<body>
     <div class="container">
        <div class="box">
            <h2>01</h2>
            <h3>Pothole Detection</h3>
            <p>lor</p>
        </div>
        <div class="box">
            <h2>02</h2>
            <h3>Person Detection</h3>
            <p>Lorem ipsum dolor sit amet consectetur adisjksflsjfla;fsaf;as;jf</p>
        </div>
        <div class="box">
            <h2>03</h2>
            <h3>Object Detection</h3>
            <p>Lorem ipsum dolor sit amet consectetur adisjksflsjfla;fsaf;as;jf</p>
        </div>
        <div class="content"></div>
            <nav>
             <div class=logo_1>
             <label class="logo">Glitch</label>
             <ul> 
               <li><a class="" href="index.html">Home</a></li>
               <li><a href="about.html">About</a></li>
               <li><a href="features.html">Features</a></li>
               <li><a href="contact.html">Contact</a></li>
               <li><a href="feedback.html">Feedback</a></li>
             </ul>
            </nav>
        </div>
    </div>
    
</body>
</html>