<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Rubik Glitch' >
    <title>No Potholes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  </style>  
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
  </style>
  </head>
  <body>
    <div>
    <div class="content"></div>
     <nav>
      <div class=logo_1>
      <label class="logo">Glitch</label>
      <ul> 
        <li><a class="index.html" href="#">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="features.html">Features</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="feedback.html">Feedback</a></li>
      </ul>
     </nav>
    </div>
    <centre>
    <div class="container">
      <div class="col-lg-8  offset-lg-2">
        <img src="{{ url_for('video') }}" width="100%">
    </div>
  </div>
  <video id="myVidPlayer" controls muted autoplay></video>
  <script type="text/javascript">
    const video = document.querySelector('#myVidPlayer');
    window.navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            video.srcObject = stream;
            video.onloadedmetadata = (e) => {
                video.play();
            };
        })
        .catch( () => {
            alert('You have to give browser the permission to run Webcam and mic');
        });

</script>
  </body>
</html>
