<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Rubik Glitch' >
    <title>No Potholes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  </style>  
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
  </style>
  </head>
  <body onload="beep">
    <div>
    <div class="content" style="background-color: antiquewhite;"></div>
     <nav style="padding-left: 650px;">
      <div class=logo_1 style="text-align: center;">
      <label class="logo">Glitch</label>
     </nav>
    </div>
    <centre>
    <div class="container">
      <div class="col-lg-8  offset-lg-2">
        <form action='/vid' id="bob" method='POST'>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" name="id" id="exampleInputEmail1" aria-describedby="id" placeholder="Enter private id">
          </div>
          <input class="btn btn-primary" type='submit' value='confirm'/>
        </form>
    </div>
  </div>
  
  </body>
</html>
